body {
  font-family: sans-serif;  color: white;
  background-color: #1c98f7
}

.intro {
  font-size: 24px;
  font-style: italic;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  background-color: #4CAF50;
}

ul.slack {
  list-style-type: none;
}

ul.slack li:before {
    content: '# \0000a0';
    font-size: 1.2em;
    font-weight: bold;
}
